section {
  background-color: #164b60;
  color: #fff;
  text-align: center;
}
h1 {
  color: #fff;
}
h2 {
  color: red;
}
ul {
  list-style-type: none;
}
a {
  color: #884a39;
  text-decoration: none;
}
